In [156]:
import pandas as pd
import os

In [157]:
base_file = 'out.xlsx'

In [158]:
df = pd.read_excel(base_file)

In [159]:
amnt = df.Amount

In [160]:
df['Daily_Profits'] = amnt.diff()

In [161]:
df['Daily_Returns'] = amnt.pct_change()

In [162]:
df

               Amount  Daily_Profits  Daily_Returns
2017-10-31  251837.84            NaN            NaN
2017-11-01  251699.32        -138.52      -0.000550
2017-11-02  251861.39         162.07       0.000644